<div>
    <p>
        <span><strong>Prénom du contact :</strong></span>
        {{prenom}}
    </p>
    <p>
        <span><strong>Nom du contact :</strong></span>
        {{nom}}
    </p>
    <p>
        <span><strong>Email du contact :</strong></span>
        {{email}}
    </p>
    <p>
        <span><strong>Sujet :</strong></span>
        {{subject}}
    </p>
    <p><strong>Message envoyé</strong></p>
    {{#each body}}
        <p>{{this}}</p>
    {{/each}}

</div>